src/main/app/flowvar.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="flowvarFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/FlowVar" doc:name="HTTP"/>
        <set-variable variableName="FlowVariable" value="#[&quot;FlowVariable&quot;]" doc:name="Variable"/>
        <set-payload value="#[&quot;This is Flow Var&quot;]" doc:name="Set Payload"/>
        <logger message="SubflowSessionVar-----&gt;#[sessionVars.SessionVar]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="SetPayloadVar" value="#[payload]" doc:name="Variable"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.FlowVariable]" level="INFO" doc:name="Logger"/>
        <logger message="#[flowVars.SetPayloadVar]" level="INFO" doc:name="Logger"/>
        <flow-ref name="flowvarSub_Flow" doc:name="flowvarSub_Flow"/>
    </flow>
    <sub-flow name="flowvarSub_Flow">
        <set-payload value="#[&quot;This is SessionPayload&quot;]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <set-session-variable variableName="SessionVar" value="#[&quot;This is SessionVar From Flow&quot;]" doc:name="Session Variable"/>
    </sub-flow>
</mule>
